        <ul>
          <li><p>G</p><span>Gluten Free<br />Grain Free</span></li>
          <li><p>H</p><span>Human<br />Grade</span></li>
          <li><p>S</p><span>Soy<br />Free</span></li>
          <li><p>P</p><span>Preservative<br />Free</span></li>
          <li><p>O</p><span>Zero Added<br />Sugar/Sodium</span></li>
          <li><p>H+A</p><span>Hormone Free<br />Antibiotic Free</span></li>
        </ul>