  <!-- Begin .orange-background -->
  <div class="orange-background orange-texture pt20 texture-bottom">
    <div class="wrapper">
      <h2 class="block-header">All broths are not created equal</h2>
    </div>
  </div>
  <!-- End .orange-background -->
  <!-- Begin .white-background -->
  <div class="white-background white-content white-texture texture-bottom"> 
    <div class="wrapper">
      <div class="container">
        <div>
          <div class="span12">
            <h1 class="fruit-header"><span>Real Bone Broth ≠ Highly Processed Commercial "Broths"</span></h1>
          </div>
          <div class="span8">
            
            <p>REAL bone broth should not be confused with today's commercially available "broths" & broths on grocery store shelves. Most of the bone broth on the market today is made with poor quality ingredients. In fact, many of the brands in grocery stores don't even use bones to make their broths. It’s important to know where the bones come from and what the animal was fed. </p>
            
            <p>Our bones are from animals raised on organic farms. They are humanely raised on pastures with clean, non GMO diets. Antibiotic & hormone free. We use bones from 100% grass fed/finished beef, and bones from pasture raised turkeys. </p>
            <p>Real, traditional bone broth is made by slow-simmering the bones for days to extract amino acids, collagen, and minerals into the broth. Real bone broths are pretty solid and "jiggly" (at refrigerated temp.) from all those nutrients, especially the collagen. The purest bone broth cannot be stored at room temperature because it contains no preservatives and it has not been further processed to be shelf simmeringtable.</p>
            <p>Our Bone Brews are made the old fashioned way - in simmering kettles. We then freeze our broths to ensure the freshest possible product, without the need to over process or add ingredients to make it shelf stable. </p>
            <a href="/collections/bone-brews" class="btn btn-orange">Shop Bone Broth</a>
          </div>
          <div class="span4">
            <img src="{{ 'about-dog.jpg' | asset_url }}" alt="Dog Enjoying Nuggets Healthy Eats" class="p30" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End .white-background -->
  
  <!-- Begin .orange-light-background -->
  <div class="orange-light-background"> 
    <div class="wrapper">
      <div class="container">
        <div>
          <div class="span12">
            <a href="{{ 'retailers-comparison-chart-lg.pdf' | asset_url }}">
              <img src="{{ 'retailers-comparison-chart.jpg' | asset_url }}" alt="Broth Comparison Chart" />
            </a>
            <p class="tc mt10"><a href="{{ 'retailers-comparison-chart-lg.pdf' | asset_url }}">Download</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End background -->