<div id="page">
          <div class="span12 details">
            <h1 class="p0">Newsletter Sign Up</h1>
            {{ page.content }}
            <div class="contact-form">
              <h2>Complete!</h2>
              <p>Your subscription to our list has been confirmed.</p>
              <p>Thank you for subscribing!</p>
              <a href="/collections" class="btn btn-orange">View Our Products</a>
            </div>
          </div>
        </div>