  <!-- Begin .light-orange-background -->
  <div class="orange-background orange-texture texture-bottom pt20">
    <div class="wrapper">
      <h2 class="block-header">Health Benefits</h2>
    </div>
  </div>
  <div class="orange-light-background orange-light-texture health-benefits"> 
    <div class="wrapper">
      <div class="container">
        <div>
          <div class="span8">
            <h4>Even if your pet doesn’t have digestive issues, increasing the nutrients in his or her diet will improve intestinal health. Bone broth is very easily absorbed source of nutrients. It’s a bioavailable source of essential nutrients for all pets, especially seniors and those with compromised immune systems.</h4>
            <h3>Immune System Support</h3>
            <p>Bone broth is concentrated with valuable amino acids such as glycine and proline, promoting production of glutathione (nature’s powerful antioxidant) which aids the liver in detoxification, supports healthy lungs, wound healing and resistance to disease.</p>
            <h3>Healthy Gut</h3>
            <p>Bone broth helps heal and coat the intestinal lining, providing easily digestible micronutrients to strengthen and soothe the gut. The lining of a pet’s intestines contains millions of tiny holes that allow the passage of digested nutrients to enter the body. Stress, poor diet and bacterial overgrowth can cause more holes to open or to become bigger … and when undigested food matter and yeast enter a dog’s body, allergy symptoms can appear.  Bone broth is loaded with gelatin (extracted collagen), a sticky, gooey substance that plugs up those leaky holes. The gut healing properties of bone broth can also reduce the frequency and symptoms of constipation, diarrhea and food sensitivities. </p>      
            <h3>Liver Detox</h3>
            <p>Our pets' livers often manage a daily onslaught of toxins - lawn chemicals, food & water impurities, vaccines & heartworm/parasite meds, etc. The liver’s capacity to detoxify is limited by the availability of the amino acid glycine. Guess what has tons of glycine? Bone broth!</p>
            <h3>Healthy Joints and Bones</h3>
            <p>Bone Broth is loaded with glycosaminoglycans (GAG’s) and you are probably familiar with one of them: glucosamine. Not only does bone broth contain tons of glucosamine, it's also packed with other joint-protecting compounds, including chondroitin sulfate and hyaluronic acid, giving cartilage its resilience. Hyaluronic acid from natural dietary sources can help reduce joint pain and stiffness, and may help prevent conditions such as osteoarthritis. Arthritis commonly affects older dogs, so prevention through proper nutrition is key when it comes to bone health.</p>
            <h3>Reduced inflammation</h3>
            <p>Because bone broth contains several anti-inflammatory nutrients, such as glycine, proline, and arginine, it can provide the nutrition needed to prevent the development of inflammatory illnesses and diseases.</p>
            <p>Inflammation affects our pets’ health the same way it affects us. The development of several conditions that affect dogs, such as allergies, rheumatoid arthritis, type II diabetes, pancreatitis, liver disease and inflammatory bowel disease (IBD) have all been linked to chronic inflammation.</p>
            <p>Chronic inflammation often has no early warning signs, which can make it difficult to detect. This is why adding anti-inflammatory nutrients to your pet’s diet is necessary for disease prevention and overall health.</p>      
            <a href="/collections/bone-brews" class="btn btn-orange">Shop Bone Broth</a>
          </div>
          <div class="span4">
            <div class="color-quote">
              <img src="{{ 'color-quote-orange.png' | asset_url }}" alt="color quote" />
              <p>Adding anti-inflammatory nutrients to your pet’s diet is necessary for disease prevention and overall health.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End .orange-light-background -->