  <!-- Begin .green-light-background -->
  <div class="green-background green-texture texture-bottom pt20">
    <div class="wrapper">
      <h2 class="block-header">Probiotics for a Healthy Gut</h2>
    </div>
  </div>
  <div class="green-light-background green-light-content probiotics"> 
    <div class="wrapper">
      <div class="container">
        <div>
          <div class="span8">
            <p class="callout">The immune system can only function optimally with a healthy balance of bacteria. When the digestive tract is populated with healthy probiotics, they prevent the bad bacteria from residing, thus preventing intestinal upset and disease. These good bacteria also help ensure the absorption of vital nutrients. </p>
            <p>Not only do probiotic cultures do lots of good in a pet’s body, they also work hard during the creation of yogurt. During fermentation, they break down the lactose, creating lactase. Lactase is the enzyme necessary for lactose digestion that dogs lack, helping dogs digest any lactose they may encounter.<img src="{{ 'heart-green.png' | asset_url }}" alt="Heart Nuggets" /></p>
            <p>Ideally dogs should have a good quality yogurt every day to ensure a steady presence of good cultures and enzymes. In addition to enhancing the overall well-being of healthy dogs, probiotics can gently help dogs get over digestive disturbances by bringing the bacteria in the digestive tract into balance, without the use of harsh medicines.</p>
            <h3>Why Can Dogs Digest Yogurt?</h3>
            <p>Not only do probiotic cultures do lots of good in a pet’s tummy, they also work hard during the creation of yogurt. During fermentation, they break down the lactose, creating lactase. Lactase is the enzyme necessary for lactose digestion that dogs lack, helping dogs digest any lactose they may encounter. </p>
          </div>
            <div class="span4">
              <img src="{{ 'gut-health-probiotic-1.jpg' | asset_url }}" alt="Blueberries" />
              <img src="{{ 'gut-health-dog.jpg' | asset_url }}" alt="Tail Wag" />
            </div>
          </div>
          
          <div>
            <div class="span8">
              <h3 class="mt0">Yogurt makes about everyone’s list of superfoods </h3>
              <p>Ideally dogs should have a good quality yogurt every day to ensure a steady presence of good cultures and enzymes. In addition to enhancing the overall well-being of healthy dogs, probiotics can gently help dogs get over digestive disturbances by bringing the bacteria in the digestive tract into balance.</p>
              <h3>A daily dose of probiotics can also help:</h3>
              <ul class="heart-list">
                <li>Dogs under medical or surgical treatment to counteract any detrimental effect of drugs</li>
                <li>Improve the health of dogs on a processed kibble diet or irradiated and pasteurized raw foods</li>
                <li>Dogs who exhibit stress or who have sensitive digestive systems or other signs of imbalance</li>
                <li>Reduce the effects of everyday stresses such as traveling, boarding, daycare, socializing, changing diets, etc.</li>
                <li>Seniors, special needs dogs, puppies – dogs with compromised immune systems</li>
                <li>Dogs with calcium deficiencies – many dogs do not get enough calcium, which can be extremely detrimental to their health</li>
                <li>Dogs with sensitive bowels or those who need skin or fur improvements</li>
              </ul>
              <a href="/collection/artisinal-yogurts" class="btn btn-orange">Shop Yogurts</a>
            </div>
              <div class="span4">
                <img src="{{ 'cow-patch-green.png' | asset_url }}" alt="cow patch green" />
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End .green-light-background -->