  <!-- Begin .green-background -->
  <div class="orange-background orange-texture texture-bottom pt20">
    <div class="wrapper">
      <div class="quote-content">
        <h2>No food improves digestion better than bone broth<span>&mdash;Florence Nightingale</span></h2>

      </div>
    </div>
  </div>
  <!-- End .green-background -->
  <!-- Begin .white-background -->
  <div class="white-background white-content"> 
    <div class="wrapper">
      <div class="container">
        <div>
          <div class="span12">
            <h1 class="fruit-header"><span>Bone Broth for a Healthy Gut</span></h1>
          </div>
          <div class="span8">
            
            <p class="green-bold">For pets with no digestive issues or chronic conditions, increasing nutrients in their diet naturally improves intestinal health and maintains properly functioning systems. Bone broth offers an easy-to-absorb, bioavailable source of essential nutrients. This is important for the overall health and well-being of all pets, and especially vital for seniors and those with compromised immune systems.</p>
            
            <h3>Functional Benefits</h3>
            <ul class="heart-list">
              <li><strong>Healthy Tummy:</strong> Bone broth helps heal and coat the intestinal lining, providing easily digestible micronutrients to strengthen and soothe the gut. A leaky gut consists of small holes in the intestinal lining that allow particles, such as bacteria and undigested food, to pass through the intestinal lining and into the bloodstream. When this matter enters a dog’s body, an inflammatory response follows and what develops are chronic conditions, autoimmune disorders, allergies, skin conditions, anxiety, food sensitivities, irritable bowel syndrome (IBS), constipation, diarrhea, and a myriad of other chronic conditions.  Stress, poor diet and bacterial overgrowth can cause the holes to open or to become bigger. Bone broth is loaded with gelatin (extracted collagen), a sticky substance that plugs up those leaky holes. </li>
              <li><strong>Liver Detox:</strong> Our pets' livers often manage a daily onslaught of toxins - lawn chemicals, processed food, vaccines and parasite medications. The liver’s capacity to detoxify is limited by the availability of the amino acid glycine. Bone broth is rich in bioavailable glycine. </li>
              <li><strong>Immune System Support:</strong> Bone broth is concentrated with valuable amino acids such as glycine and proline, promoting production of glutathione (nature’s powerful antioxidant) which aids the liver in detoxification, supports healthy lungs, wound healing and resistance to disease.</li>
              <li><strong>Reduced Inflammation:</strong> Chronic inflammation often has no early warning signs, which can make it difficult to detect. This is why adding anti-inflammatory nutrients to your pet’s diet is necessary for disease prevention and overall health. Bone broth contains several anti-inflammatory nutrients, such as glycine, proline, and arginine, essential amino acids needed to prevent the development of inflammatory illnesses and diseases. Inflammation affects our pets’ health the same way it affects us. The development of several conditions that affect dogs, such as allergies, rheumatoid arthritis, type II diabetes, pancreatitis, liver disease and inflammatory bowel disease (IBD) have all been linked to chronic inflammation. </li>
              <li><strong>Healthy Joints and Bones:</strong> Bone Broth is loaded with glycosaminoglycans and you are probably familiar with one of them: glucosamine. Bone broth contains tons of glucosamine; it's also packed with other joint-protecting compounds such as chondroitin sulfate and hyaluronic acid, giving cartilage its resilience. Hyaluronic acid from natural dietary sources is known to help reduce joint pain and stiffness, and may help prevent conditions such as osteoarthritis. </li>
            </ul>
            
            <p><a href="/pages/bone-broth-vs-commercial-stock" class="text-link">Real Bone Broth vs Commercial Stock -></a></p>
            <a href="/collections/bone-brews" class="btn btn-orange">Shop Bone Broth</a>
          </div>
          <div class="span4">
            <img src="{{ 'gut-health-spoon.jpg' | asset_url }}" alt="Broth Spoon" />
            <div class="color-quote less-content">
              <img src="{{ 'color-quote-orange.png' | asset_url }}" alt="color quote" />
              <p>Adding anti-inflammatory nutrients to your pet’s diet is necessary for disease prevention and overall health.</p>
            </div>
            <img src="{{ 'jar.jpg' | asset_url }}" alt="Broth Spoon" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End .white-background -->