<div class="white-background generic-content">
  <!-- Begin wrapper -->
  <div class="wrapper">
    <div class="container">
      <div>      
        <!-- Begin content-->
          <div class="span12">
            <h1 class="p25">{{ page.title }}</h1>
            {{ page.content }}
            </div>
        </section>
        <!-- End content-->
      </div>
    </div>
  </div>
</div>