  <!-- Begin .white-background -->
  <div class="white-background white-content pt30"> 
    <div class="wrapper">
      <div class="container">
        <div>
          <div class="span12">
            <h1 class="fruit-header"><span>What is Leaky Gut?</span></h1>
          </div>
          <div class="span8">
            <p class="callout">When it comes to a pet’s well-being, leaky gut (intestinal permeability) and resulting chronic inflammation of the gut can be the source of many significant (not to mention costly) ongoing health issues.</h4>
            <p>A leaky gut (whether in humans or animals) consists of small holes in the intestinal lining that allow toxins, bacterial components, chemicals and other debris in the digestive tract to escape and enter the bloodstream. Once in the bloodstream, the white blood cells of the immune system see these components as invading molecules, so they attack them in order to protect the host. This is an inflammatory response.</p>
            <p>Many scientists and physicians agree that this intestinal permeability and resulting inflammatory response is the root of many chronic diseases, autoimmune disorders, allergies, skin conditions, anxiety, food sensitivities, irritable bowel syndrome (IBS) and a myriad of other chronic conditions.</p>
            <p>Real bone broth is loaded with gelatin (extracted collagen), a sticky substance that plugs up those leaky holes. In its own unique, natural way, bone broth heals and seals a pet’s intestinal holes, just as we know it does for humans. </p>
            <p><a href="/pages/bone-broth-vs-commercial-stock" class="text-link">Real Bone Broth vs Commercial Stock -></a></p>
            <a href="/collections/bone-brews" class="btn btn-orange">Shop Bone Broth</a>
          </div>
          <div class="span4">
            <div class="color-quote less-content">
              <img src="{{ 'color-quote-green.png' | asset_url }}" alt="color quote" />
              <p>Cleveland Clinic and other leading medical experts recommend bone broth for patients with leaky gut.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End .white-background -->